section.events-list.done.small-12.columns
  h3 Done
  ul.list-unstyled
    - events.each do |event|
      li style="border-left: 25px solid #{event.color}; padding-left: 5px"
        span
          label
            input [
              type="checkbox"
              name= event.uid
              checked= event.done?
              id= event.uid
              title="Mark as undone"
              data-update-event-status= true
              data-event-uid= event.uid
              data-update-event-url= event_update_path(event.uid)
            ]
          = link_to event.summary, event.html_link, target: '_BLANK'
        span.right
          = link_to 'Archive', event_archive_path(event.uid), method: :post, class: 'button tiny'
