section.events-list.small-12.columns
  h3= table_title
  ul.list-unstyled
    - events.each do |event|
      li style="border-left: 25px solid #{event.color}; padding-left: 5px"
        span
          label for=event.uid 
            input [
              type="checkbox"
              name= event.uid
              checked= event.done?
              id= event.uid
              title="Mark as done"
              data-update-event-status= true
              data-event-uid= event.uid
              data-update-event-url= event_update_path(event.uid)
            ]
          = link_to event.summary, event.html_link, target: '_BLANK'
        span.right
          - time_distance = Time.now - event.start_datetime
          - if time_distance > 0
            = distance_of_time_in_words(Time.now, event.start_datetime) + ' ago'
          - else
            = 'In ' + distance_of_time_in_words(Time.now, event.start_datetime)
