- if @events.empty?
  p You have no archived events.
  = link_to 'Back', root_path, class: 'button tiny'
- else
 section.events-list.archive.small-12.columns
  h3 Archived events
  ul.list-unstyled
    - @events.each do |event|
      li
        span.title
          = link_to event.summary, event.html_link, target: '_BLANK'
        span.right.restore
          = link_to 'Restore', event_restore_path(event.uid, task_status: Event::TASK_STATUSES.fetch(:done)), method: :post, class: 'button tiny'
