section.events-list.small-12.columns
  h3 Choose calendars to synchronize
  ul.list-unstyled
    - @calendars.each do |calendar|
      /TODO: refactor CSS
      li style="border-left: 25px solid #{calendar.background_color}; padding-left: 5px"
        span
          label for=calendar.uid
            input [
              type="checkbox"
              name= calendar.uid
              checked= calendar.synchronize
              id= calendar.uid
              data-update-calendars= true
              data-url= calendars_path
              data-calendar-id= calendar.uid
              ]
          = calendar.summary

  = link_to 'Back', root_path, class: 'button tiny right'