.events-list
  h3
    font-size: 1.38rem
    font-weight: bold
  li
    @extend .valign-middle
    width: 100%
    font-size: 0.90em
    padding: 0.1rem .5rem

    span
      padding-top: 2px

    span:first-child
      float: left
      padding-left: 5px

    &:nth-child(odd)
      background-color: #efefef
    
    .button.tiny
      margin-bottom: 0

  label
    float: left
    font-size: 0.775rem

  input[type="checkbox"]
    margin: 0px
    padding: 0px
    width: 24px
    height: 24px
    cursor: pointer

.events-list.done
  margin-top: 2em

.top-bar
  margin-bottom: 3%

.full-width
  width: 100%
  margin-left: auto
  margin-right: auto
  max-width: initial

li.name span
  font-weight: bold

// Helpers
.list-unstyled
  padding-left: 0
  margin-left: 0
  list-style-type: none

.valign-middle
  display: table
  .columns
    display: table-cell
    vertical-align: middle
